<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="">CursosCastGroup</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
  <div class="container" style="width: 600%;">
    <div class="navbar-collapse justify-content-md-center collapse" id="navbars">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="curso"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cursos</font></font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="categoria"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Categorias</font></font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="finalizado"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cursos Finalizados</font></font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="log"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Logs</font></font></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-outline-light me-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Login</font></font></button>
    <button type="button" class="btn btn-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cadastrar</font></font></button>
  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>