<div class="container" *ngIf="visibilidadeTabela">
    <br>
    
    <h4>Categorias</h4>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ExibirFormularioCadastro()">
      Adicionar Categoria
    </button>
  
    <br>
  
    <table class="table table-striped table-hover table-sm " >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody *ngIf="categorias && categorias.length">
        <tr *ngFor="let categoria of categorias; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ categoria.nome }}</td>
          <td>
            <button type="button" class="bt btn-sm" (click)="ExibirFormularioAtualizacao(categoria.categoriaId)">Atualizar</button> |
            <button type="button" class="bt btn-sm" (click)="PegarIdExclusao(categoria.categoriaId)"
                    (click)="ExibirTituloExclusao(categoria.categoriaId)" data-bs-toggle="modal" data-bs-target="#modalExclusao">Excluir</button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!categorias.length">
        <tr>
            <td colspan="8" class="text-center text-danger">
                <h4>Sem registros</h4>
            </td>
        </tr>
    </tfoot>
    </table>
  </div>
  
  
  <!-- Formulário de Cadatro e Atualização de Cursos-->
  <div class="container" *ngIf="visibilidadeFormulario">
    <br>
  
    <div class="row">
      <div class="col-12 border border-light rounded p-5 shadow" *ngIf="formulario">
  
        <h3>{{tituloFormulario}}</h3>
        <hr>
  
        <form [formGroup] = "formulario" (ngSubmit) = "EnviarFormulario()">
          <div class="form-group">
            <div class="row">
              <div class="mb-3">
                <label class="form-label">Nome da Categoria</label>
                <input type="text" class="form-control form-control-sm" rows="3" formControlName="nome" required>
  
                <!-- <div *ngIf=" categoriaForm.controls['nome'].invalid && categoriaForm.controls['nome'].touched">
                  <span class="alert" style="color: red; font-size: small;">Nome é Obrigatória</span>
                </div> -->
              </div>
            </div>
          </div>
  
          <br>
    
          <div class="container">
              <div class="row">
                  <div>
                      <button type="subimt" class="btn btn-primary">Salvar</button>
                      <button type="button" class="btn btn-danger" (click)="voltar()">Voltar</button>
                  </div>
              </div>
          </div>
        </form>
      </div>      
    </div>
  
</div>


<!--Formulário de Finalização de Cursos-->
<div class="modal fade" tabindex="-1" id="modalExclusao">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Excluir Categoria de {{tituloModalExclusao}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
          <h6>Tem certeza que deseja Excluir a categoria {{tituloModalExclusao}}</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"> Não </button>
          <button type="button" class="btn btn-danger" (click)="ExcluirCategoria(excluirId)" data-bs-dismiss="modal">
            Excluir
          </button>
        </div>
      </div>
    </div>
</div>
